<!-- Footer w/ copyright info -->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Zim Framework by <a href="https://github.com/zimfw/zimfw/graphs/contributors" target="_blank">Eric Nielsen, Matt Hamilton and contributors</a>.
      Website by <a href="https://github.com/michaelhthomas" target="_blank">Michael Thomas</a>.
      Logo by <a href="https://github.com/OneMohrTime" target="_blank">Derek Mohr</a>.
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>. This website's content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY NC SA 4.0</a>.
    </p>
    <a
      class="button is-dark"
      href="https://github.com/zimfw/zimfw"
      target="_blank"
    >
      <i class="fa fa-github" aria-hidden="true"></i>
      <span class="sr-only">GitHub</span>
    </a>
  </div>
</footer>
