@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$title-family: 'Merriweather', Garamond, 'Hoefler Text', 'Times New Roman', Times, serif;
$subtitle-family: $title-family;
$title-weight: 400;