<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Zim: Modular, customizable, and blazing fast Zsh framework</title>

  {% include "favicons.njk" %}

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  {% block extraStyles %}{% endblock %}
</head>

<body>
  {% include "navbar.njk" %}

  {{ content | safe }}

  {% include "footer.njk" %}

  {% block extraScripts %}{% endblock %}
</body>

</html>